<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MaximumEntropyModelDirectory" value="D:\KeywordMapper\KeywordMapper\Resources\Models\"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EXCELRAWS800\SQL2016;Initial Catalog=KeywordMapper;Persist Security Info=True;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
